* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(224, 224, 224);
    gap: 20px;
    width: 100vw;
    height: 100vh;
}

button {
    width: 100px;
    height: 100px;
    border-radius: 20px;
    background-color: rgb(190, 190, 190);
    box-shadow: 0px 10px 20px rgb(201, 201, 201);
    display: flex;
    justify-content: center;
    align-items: center;
}

.figure {
    position: relative;
    display: block;
    border-radius: 20px;
    background-color: rgb(25, 167, 223);
    width: 80px;
    height: 80px;
    cursor: pointer;
}

#right_click_menu {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    color: white;
    background-color: rgb(48, 48, 48);
    padding: 20px 0;
    border-radius: 20px;
    /* border-top-left-radius: 0; */
    font-size: 16px;
    z-index: 100;

    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#right_click_menu button {
    font-family: 'Montserrat', sans-serif;
    font-size: calc(0.5vmin + 10px);
    cursor: pointer;
    color: white;
    background-color: transparent;
    width: auto;
    height: auto;
    border: none;
    border-radius: 0;
    box-shadow: none;
    padding: 10px 20px;
    width: 100%;
}

#right_click_menu button:hover {
    background-color: rgb(65, 65, 65);
}